

.input_table{
	border-radius: 8px;
	border-style: solid;
	border-width: 4px;
}
.results{
	border-radius: 4px;
	border-style: solid;
	border-width: 4px;
	border-color: green;
}

input{
	border-radius: 2px;
	border-style: solid;
	border-color: blue;
	border-width: 2px;
}

#footer {
    clear: both;
    position: relative;
    z-index: 10;
    height: 1em;
    margin-top: -3em;
}
#interpolation{
	float: left;
	width: 49%;
	border-style: solid;
	border-radius: 8px;
	border-width: 4px;
	border-color: blue;

}

#tablemode{
	float: right;
	width: 49%;
	border-radius: 8px;
	border-style: solid;
	border-width: 4px;
	border-color: blue;
}

#talbmode_input{
	border-radius: 8px;
	border-style: solid;
	border-width: 4px;
}
#input_table td{
	border-radius: 2px;
	border-style: solid;
	border-color: blue;
	border-width: 2px;
}